header {
    height: 70px;
width: 100%;
    background-color: #a3afd6;
}

.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navContainer {
    display: flex;
    gap: 16px;
}

img {
    width: 100px;
    height: 70px;
}

button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
}

nav {
    display: flex;
}

.active {
    padding: 0 10px;
    border-radius: 10px;
    background-color: #7add61;

}