.moviesContainer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
}

.viewMore {
    display: inline-block;
    width: 100px;
    height: 15px;
    border-radius: 3px;
}

.movie {
    display: flex;
    flex-direction: column;
    gap: 2px;
}