.container {
    display: flex;
    gap: 30px;
}



.genresContainer {
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
    width: 100%
}

.chip input {
    position: absolute;
    opacity: 0;
}
.chip span {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
}
/* Эффект при нажатии */
.chip input:checked + span {
    background: blue;
    color: #fff;
}

.reset {
    width: auto;
    height: 30px;
    white-space: nowrap;
    border-radius: 20px;
    padding: 8px 8px;
    background-color: blue;
    color: white;
}

.filterContainer {
    width: 200px;
    display: flex;
    flex-direction: column;
}